.levels-screen {
  position: relative;
  color: white;

  .header-levels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .nav-list {
      display: none;
    }
  }

  .main-levels {
    gap: 20px;

    .levels-container {
      height: calc(100vh - 200px);
      overflow-y: scroll;
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;

      .level-card {
        width: 160px;
        cursor: pointer;
        .level-score {
          display: block;
          padding: 0 5px;
          border-radius: 9px;
          background-color: white;
          color: black;
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            background-color: #ffbca2;
          }
        }
        &.not-played {
          .level-score {
            display: none;
          }
          .card-image {
            filter: grayscale(1);
          }
        }

        .card-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
          font-size: 18px;
        }

        .card-image {
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }

  .footer-levels {
    position: fixed;
    top: calc(100vh - 61px);
    width: 100%;
    background-color: black;
    border-radius: 15px 15px 0 0;
    border-top: 1px solid white;
    .footer-nav {
      padding: 10px;
      .nav-list {
        display: flex;
        list-style: none;
        justify-content: space-around;
        &--item {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 60px;
          height: 40px;
          font-size: 12px;
          cursor: pointer;
          background-position: top center;
          background-repeat: no-repeat;
          background-size: 22px 22px;
          &.active {
            filter: invert(7%) sepia(20%) saturate(6077%) hue-rotate(303deg)
              brightness(118%) contrast(113%);
          }
          &.home {
            background-image: url("../assets/svg/home.svg");
          }
          &.levels {
            background-image: url("../assets/svg/categories.svg");
          }
          &.results {
            background-image: url("../assets/svg/score.svg");
          }
        }
      }
    }
  }
}
