.start-screen {
  gap: 30px;
  background-image: url("../assets/img/bgStart.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .header-start {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .main-start {
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px;
    gap: 15px;

    .select-quiz {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .button {
        width: 268px;
        height: 56px;
        border: 1px solid white;
        border-radius: 28px;
        font-size: 24px;
        line-height: 28px;
        transition: all 0.3s;
        &:hover {
          color: black;
          background-color: white;
        }
        &:active {
          color: black;
          background-color: #ffbca2;
        }
      }
    }
  }

  .footer-start {
    margin-top: 0;
  }
}
