* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "startScreen";
@import "settingsScreen";
@import "levelsScreen";
@import "questionScreen";

@keyframes show {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

html {
  display: flex;
  min-height: 100vh;
  background-color: black;
}

body {
  display: flex;
  min-width: 360px;
  width: 100%;
  color: white;
}

.container {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  &-settings {
    width: 32px;
    height: 32px;
    background-image: url("../assets/svg/settings.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 62px;
  background-image: url("../assets/svg/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  a {
    &.school-logo {
      display: block;
      width: 61px;
      height: 23px;
      background-image: url("../assets/svg/rs_school_logo.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
